In [90]:
# Import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
from pprint import pprint

from config import g_key
gmaps.configure(api_key=g_key)

In [91]:
# Import data from weatherpy
file = "output_data/cities.csv"

data = pd.read_csv(file)
df = pd.DataFrame(data)
df.head()

,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH)
0,port elizabeth,ZA,-33.92,25.57,64.40,77,6,8.05
1,palana,RU,59.12,159.97,5.92,93,99,2.26
2,punta arenas,CL,-53.15,-70.92,51.80,62,75,29.97
3,aklavik,CA,68.22,-135.01,10.40,72,90,6.93
4,glace bay,CA,46.20,-59.96,55.00,57,75,14.99

In [92]:
# Set variables with the humidity as the weight
locations = df[["Latitude", "Longitude"]]
weights = df["Humidity (%)"]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [93]:
# Narrow down the prime vacation spots
vacay_df = df[df["Humidity (%)"]<25]  
vacay_df = vacay_df[df["Temperature (F)"]<80]
vacay_df = vacay_df[df["Temperature (F)"]>60] 
vacay_df = vacay_df[df["Cloudiness (%)"]<30]
vacay_df.head()

C:\Users\bpdam\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Users\bpdam\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\bpdam\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH)
301,urcos,PE,-13.69,-71.62,68.00,13,20,6.93
307,manyana,BW,-23.40,21.72,71.46,22,0,3.76
366,safford,US,32.83,-109.71,71.60,24,1,3.36

In [78]:
# Add a column for the hotel name
hotel_df = vacay_df
hotel_df["Name"] = None
hotel_df

,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH),Name
301,urcos,PE,-13.69,-71.62,68.00,13,20,6.93,None
307,manyana,BW,-23.40,21.72,71.46,22,0,3.76,None
366,safford,US,32.83,-109.71,71.60,24,1,3.36,None

In [79]:
# Make a dictionary of the parameters. Since the location will vary, make it an empty string
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
params = {
    "location": "",
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [80]:
# For each row, ping the api
for i, row in hotel_df.iterrows():
    # Need to format the lat/lng correctly for it to work
    lat = row["Latitude"]
    lon = row["Longitude"]
    params["location"] = f"{lat}, {lon}"
    city = row["City"]
    print(f"Retreiving Results for city {city}")

    response = requests.get(base_url, params=params).json()
    results = response["results"]

    try:
        # Add the hotel name to the Name column in the hotel df
        print(f"Closest hotel is {results[0]['name']}")
        hotel_df.loc[i, "Name"] = results[0]["name"]
        



    except (KeyError, IndexError):
        print("Missing field/result.....skipping.")
    
    print("_________________________________________________________")

hotel_df

Retreiving Results for city urcos
Closest hotel is Qali Samanawasi
_________________________________________________________
Retreiving Results for city manyana
Missing field/result.....skipping.
_________________________________________________________
Retreiving Results for city safford
Closest hotel is SpringHill Suites by Marriott Thatcher
_________________________________________________________

,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH),Name
301,urcos,PE,-13.69,-71.62,68.00,13,20,6.93,Qali Samanawasi
307,manyana,BW,-23.40,21.72,71.46,22,0,3.76,None
366,safford,US,32.83,-109.71,71.60,24,1,3.36,SpringHill Suites by Marriott Thatcher

In [87]:
# If there's not a hotel, I'm not going there. Drop that row
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH),Name
301,urcos,PE,-13.69,-71.62,68.0,13,20,6.93,Qali Samanawasi
366,safford,US,32.83,-109.71,71.6,24,1,3.36,SpringHill Suites by Marriott Thatcher

In [96]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

,City,Country,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH),Name
301,urcos,PE,-13.69,-71.62,68.0,13,20,6.93,Qali Samanawasi
366,safford,US,32.83,-109.71,71.6,24,1,3.36,SpringHill Suites by Marriott Thatcher

In [104]:
# Assign the marker layer to a variable
location = hotel_df[["Latitude", "Longitude"]]
markers = gmaps.marker_layer(location, info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))